html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: $color--font-black;
}

button {
  cursor: pointer;
}

* {
  font-family: 'Montserrat', sans-serif;
}

a, button, input, textarea {
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
  color: inherit;
  &:active {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

h1, h2, h3, h4, p, pre {
  margin: 0;
}

// Шрифты
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
}

.container {
  width: calc(100% - #{$side-space * 2});
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 $side-space;
}