// Цвета
$color--font-black: black;
$color--font-dark: #262626;
$color--gray: #8c8c8c;
$color--gray-light: #d0d0d0;
$color--gray-lighter: #f3f3f3;
$color--blue: #4361f7;
$color--blue-light: #43A1F7;
$color--blue-lighter: #EFF6FE;
$color--purple: #4845EB;
$color--purple-lighter: #EDECFD;
$color--red: #eb454b;
$color--red-lighter: #fdecec;

// Скорость ани
$transition: 0.15s;

// Высота хедера
$header-height: 60px;

// Боковые отсупления
$side-space: 1rem;

// Максимальная ширина контенра
$max-width: 1000px;

// Размеры шрифтов
$fs--nano: 0.75rem;
$fs--mini: 0.875rem;
$fs--default: 1rem;
$fs--sub-title: 1.25rem;
$fs--title: 1.5rem;
$fs--big-title: 1.75rem;
